<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-Fv8xZV1QRHo4WjzYl81/+V3ZBwlOKfWEmwo/4xZ2EhRywWnJjwFkO3k8ElJITFZv" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <style>
        /* Style for the footer */
        footer {
            background-color: #f8f9fa;
            padding: 20px 0;
            text-align: center;
        }
        .social-icons {
            font-size: 24px;
            margin: 0 5px;
            color: #333;
        }
    </style>
</head>
<body>

    <!-- Footer Section -->
    <footer>
        <!-- Social Media Icons -->
        <div>
            <a href="#" class="social-icons"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icons"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icons"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-icons"><i class="fab fa-linkedin"></i></a>
            <a href="#" class="social-icons"><i class="fab fa-github"></i></a>
        </div>
        <!-- Copyright Notice -->
        <p>&copy; 2024 Your Website. All rights reserved.</p>
    </footer>
    <!-- End of Footer Section -->

</body>
</html>
